//import
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Roboto:wght@100;400;700;900&display=swap');
@import 'base.scss';

#about_head {
    width: 270px;
    height: calc(100vh);
    margin-left: auto;
    margin-right: auto;
    // padding-top: 21.4vh;
    // padding-bottom: 21.4vh;
    // flex-wrap: wrap;
    // align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 576px) {
        width: 566px;
        flex-direction: row;
        // justify-content: center;
        align-items: center;
    }
    @media (min-width: 992px) {
        padding-left: 200px;
    }
}

.profileimg {
    width: 200px;
    height: 200px;
    border-radius: 50% 0px 50% 50%;
    // flex: 0 0 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    @media (min-width: 576px) {
        margin-left: 10px;
        margin-right: 0;
        display: inline-block;
    }
}

.abouttext {
    // flex: 0 0 200px;
    text-align: center;
    @media (min-width: 576px) {
        text-align: left;
        display: inline-block;
        height: 200px;
        margin-left: 10px;
    }
}

.myname {
    font-size: 2rem;
    color: $text-col;
    @media (min-width: 576px) {
        font-size: 2.5rem;

    }
}
.mytitle {
    font-size: 1.5rem;
    color: $prim-col;
    @media (min-width: 576px) {
        font-size: 2rem;

    }

}

#bio {
    width: 270px;
    // height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    * {
        color: $text-col;
    }
    span {
        font-size: 2rem;
        padding: 0.2rem;
        padding-right: 1rem;
        display: inline;
        float: left;
        color: $prim-col;
        
    }
    @media (min-width: 576px) {
        width: calc(100% - 10px);
        flex-direction: row;
        margin-left: 10px;
        margin-right: 0;
        margin-bottom: 100px;
        max-width: 676px;
        span {
            font-size: 2.5rem;
        }
    }
    @media (min-width: 992px) {
        margin-left: 220px;
        span {
            font-size: 3rem;
            float: none;
            display: block;
        }
    }
    
}

.bioarea {
    // border-left: $prim-col 5px solid;
    padding-left: 10px;
    height: fit-content;
    @media (min-width: 576px) {
        width: 75%;
    }
    @media (min-width: 1260px) {
        width: 100%;
    }
}

.biotext {
    font-size: 1.2rem;
    display: inline;
    @media (min-width: 576px) {
        font-size: 1.5rem;
    }
    @media (min-width: 1260px) {
        font-size: 2rem;
    }
}

#qual {
    width: 270px;
    // height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 50px;
    * {
        text-align: right;
    }
    @media (min-width: 576px) {
        width: calc(100% - 10px);
        flex-direction: row;
        margin-left: 0;
        margin-right: 10px;
        margin-bottom: 100px;
    }
    
    
}

.qualarea {
    // border-right: $prim-col 5px solid;
    padding-right: 10px;
    height: fit-content;
    @media (min-width: 576px) {
        width: 100%;
    }

}

.qualifications {
    font-size: 2rem;
    color: $prim-col;
    padding-bottom: 20px;
    @media (min-width: 576px) {
        font-size: 2.5rem;
    }
    @media (min-width: 1260px) {
        font-size: 3rem;
    }
    
}

.quallist {
    font-size: 1.2rem;
    display: inline;
    list-style: none;
    
    
}

.qualname {
    font-weight: 700;
    font-size: 1rem;
    color: $text-col;
    @media (min-width: 576px) {
        font-size: 1.2rem;
    }
    @media (min-width: 1260px) {
        font-size: 1.5rem;
    }
}
.qualplace {
    padding-bottom: 15px;
    color: $prim-col;
    font-size: 0.8rem;
    &:last-of-type {
        padding-bottom: 0px;
    }
    @media (min-width: 576px) {
        font-size: 1rem;
    }
    @media (min-width: 1260px) {
        font-size: 1.2rem;
    }
}

#lat {
    width: 260px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 576px) {
        width: 556px;
    }
    @media (min-width: 768px) {
        width: calc(100% - 20px);
    }
    @media (min-width: 992px) {
        margin-left: 200px;
        width: calc(100% - 220px);
    }
}

.latarea {
    width: 260px;
    // padding-left: 10px;
    // padding-right: 10px;
    height: fit-content;
    // margin-left: auto;
    // margin-right: auto;
    @media (min-width: 576px) {
        width: 100%;
    }
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    

}


.lattitle {
    font-size: 2rem;
    color: $prim-col;
    padding-bottom: 20px;
    text-align: center;

    @media (min-width: 576px) {
        width: calc(100% - 20px);
    }
    
}

.latinfo {
    width: 100%;
    background-color: $prim-col;
    height: fit-content;
    // display: flex;
    // content: center;
    // padding-left: 10px;
    // padding-right: 10px;
    margin-bottom: 20px;
    border-radius: 0 0 5px 5px;
    @media (min-width: 768px) {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.latlink {
    
    text-decoration: none;
    // &:nth-of-type(1) {
    //     display: inline-block;
    // }
    // &:nth-of-type(2) {
    //     display: none;
    // }
    // &:nth-of-type(3) {
    //     display: none;
    // }
    @media (min-width: 768px) {
        width: calc(50% - 20px);
            margin-left: 10px;
            margin-right: 10px;
    }
    @media (min-width: 1260px) {
        width: calc(33.33% - 20px);

    }
}

.exampleimg {
    width: 260px;
    height: auto;
    opacity: 0.8;
    &:hover {
        opacity: 1;
        transform: scale(1.05);
    }
    @media (min-width: 576px) {
        width: 100%;
    }
    // margin: 5px;
    // margin-left: 0px;

}

.lath3 {
    width: 240px;
    height: 1.2rem;
    padding: 10px;
    background-color: $prim-col;
    color: $text-col;
    font-size: 1.2rem;
    border-radius: 5px 5px 0 0;
    text-align: center;
    @media (min-width: 576px) {
        width: calc(100% - 20px);
    }
    @media (min-width: 768px) {
        margin-left: 10px;
        margin-right: 10px;
        
        font-size: 1.4rem;
    }

}

.latp {
    font-size: 1rem;
    color: $text-col;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
