@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Roboto:wght@100;400;700;900&display=swap");
@-webkit-keyframes proj_out {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@keyframes proj_out {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

html {
  overflow-x: hidden;
}

html * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

body {
  background-color: #090520;
}

nav {
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 200px;
  top: 0;
  background-color: #090520;
  border-right: #7908D0 solid 5px;
  display: none;
  -webkit-box-shadow: 5px 0 5px #090520;
          box-shadow: 5px 0 5px #090520;
}

nav:hover {
  display: inline-block;
}

@media (min-width: 992px) {
  nav {
    display: inline-block;
  }
}

.initialdiv {
  width: 100%;
  height: calc(4rem + 10px + 20px);
  border-bottom: #7908D0 5px solid;
}

.initial {
  font-weight: 900;
  font-size: 4rem;
  color: #7908D0;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}

@media (min-width: 992px) {
  .initial {
    text-align: center;
  }
}

.linkdiv {
  padding-top: 50px;
}

.navlink {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin-bottom: auto;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.navlink:nth-of-type(1) {
  width: 70px;
}

.navlink:nth-of-type(2) {
  width: 90px;
}

.navlink:nth-of-type(3) {
  width: 125px;
}

.navlink:nth-of-type(4) {
  width: 93px;
}

.navlink:nth-of-type(5) {
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: #7908D0 5px solid;
  border-bottom: #7908D0 5px solid;
}

.navlink:hover:nth-of-type(5) {
  background-color: #7908D0;
  color: #fff;
}

.navlink h3 {
  font-size: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}

.navlink h3:hover::after {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  display: block;
  width: inherit;
  padding-top: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 5px solid #fff;
}

.navlink h4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}

.initiala {
  text-decoration: none;
}

.hamburg {
  position: fixed;
  z-index: 3;
  top: 20px;
  left: 20px;
}

.hamburg button {
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Noto Sans JP', sans-serif;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #110058;
  border: none;
  border-radius: 3px;
}

.hamburg button:hover {
  background-color: #7908D0;
}

.hamburg:hover + nav {
  display: inline-block;
}

@media (min-width: 992px) {
  .hamburg {
    display: none;
  }
}
/*# sourceMappingURL=base.css.map */