@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Roboto:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Roboto:wght@100;400;700;900&display=swap");
@-webkit-keyframes proj_out {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@keyframes proj_out {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

html {
  overflow-x: hidden;
}

html * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

body {
  background-color: #090520;
}

nav {
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 200px;
  top: 0;
  background-color: #090520;
  border-right: #7908D0 solid 5px;
  display: none;
  -webkit-box-shadow: 5px 0 5px #090520;
          box-shadow: 5px 0 5px #090520;
}

nav:hover {
  display: inline-block;
}

@media (min-width: 992px) {
  nav {
    display: inline-block;
  }
}

.initialdiv {
  width: 100%;
  height: calc(4rem + 10px + 20px);
  border-bottom: #7908D0 5px solid;
}

.initial {
  font-weight: 900;
  font-size: 4rem;
  color: #7908D0;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}

@media (min-width: 992px) {
  .initial {
    text-align: center;
  }
}

.linkdiv {
  padding-top: 50px;
}

.navlink {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin-bottom: auto;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.navlink:nth-of-type(1) {
  width: 70px;
}

.navlink:nth-of-type(2) {
  width: 90px;
}

.navlink:nth-of-type(3) {
  width: 125px;
}

.navlink:nth-of-type(4) {
  width: 93px;
}

.navlink:nth-of-type(5) {
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: #7908D0 5px solid;
  border-bottom: #7908D0 5px solid;
}

.navlink:hover:nth-of-type(5) {
  background-color: #7908D0;
  color: #fff;
}

.navlink h3 {
  font-size: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}

.navlink h3:hover::after {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  display: block;
  width: inherit;
  padding-top: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 5px solid #fff;
}

.navlink h4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}

.initiala {
  text-decoration: none;
}

.hamburg {
  position: fixed;
  z-index: 3;
  top: 20px;
  left: 20px;
}

.hamburg button {
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Noto Sans JP', sans-serif;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #110058;
  border: none;
  border-radius: 3px;
}

.hamburg button:hover {
  background-color: #7908D0;
}

.hamburg:hover + nav {
  display: inline-block;
}

@media (min-width: 992px) {
  .hamburg {
    display: none;
  }
}

#examplesMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 140px);
  margin-top: 100px;
}

@media (min-width: 992px) {
  #examplesMain {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  #examplesMain {
    height: calc(100vh - 60px);
  }
}

#codeCards {
  height: 100%;
  width: 50%;
}

.homepage {
  color: #fff;
  margin-left: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background-color: #1E1E1E;
  border-radius: 25px 0 0 25px;
  padding: 10px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.homepage * {
  font-size: 1rem;
  cursor: default;
}

@media (min-width: 992px) {
  .homepage * {
    font-size: 1.25rem;
  }
}

@media (min-width: 576px) {
  .homepage {
    margin-left: 50px;
  }
}

@media (min-width: 992px) {
  .homepage {
    margin-left: 250px;
  }
}

.homepage p:hover {
  background-color: black;
}

.codeTitle {
  margin-bottom: 10px;
  border-bottom: 2px #fff solid;
  padding-top: 20px;
}

.purple {
  color: #C586C0;
}

.light_yellow {
  color: #DCDCAA;
}

.blue {
  color: #4FC1FF;
}

.orange {
  color: #CE9178;
}

.comment {
  color: #4EC9B0;
}

.green {
  color: #B5CEA8;
}

.yellow {
  color: #D7BA7D;
}

.newBlock {
  margin-bottom: 1.25rem;
}

.indent_one {
  margin-left: calc(1.25rem * 2);
}

.indent_two {
  margin-left: calc(1.25rem * 4);
}

#comments {
  height: 100%;
  width: 50%;
}

.commentsArea {
  height: 100%;
  overflow-y: scroll;
  background-color: #7908D0;
  width: calc(100% - 35px);
  padding: 10px;
  border-radius: 0 25px 25px 0;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media (min-width: 576px) {
  .commentsArea {
    width: calc(100% - 50px);
    height: auto;
    overflow-y: visible;
  }
}

.commentsArea * {
  color: #fff;
  font-size: 0.8rem;
}

@media (min-width: 576px) {
  .commentsArea * {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .commentsArea * {
    font-size: 1.2rem;
  }
}

.explaination {
  padding-bottom: 10px;
}

.commentTitle {
  padding-top: 10px;
}

.commentP {
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

.shown {
  display: inline-block;
}

.shownOveride {
  display: inline-block;
}
/*# sourceMappingURL=examples.css.map */